body {
    margin: 0;
}

/* quando o seletor começa com . é uma classe */
.container {
    margin-inline: auto;
    max-width: 760px;
}

.mainBanner {
    width: 100%;
}

.navigation {
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
}